
<h1>Contacts</h1>
<div class="contact_block">
    <h4 class="username">Username</h4>
    <h4 class="phone-header">Phone</h4>  
    <div class="ph"> </div>     
</div>
<% i = 0 %>
<% while i < users.length%>
    <div class="contact_block">
        <div class="username">
            <p> <%= users[i][1]%></p>
        </div>
        <div class="phone">
            <p> <%= users[i][3]%></p>
        </div>

        <form action="/add-favorite" method="POST" class="add-button">
            <input type="hidden" name="favorite_id" value="<%=users[i][0]%>">
            <input type="submit" value="Add to favorites">
        </form>
        <% i = i + 1%>
    </div>
<% end %>

<a href= "/favorites">Go to favorites</a>
<a class="logout" href="/">Logout</a>