<h1>Favorites</h1>


<% if users.length > 1 %>
    <div class="contact_block">
        <h4 class="username">Username</h4>
        <h4 class="phone">Phone</h4>    
        <div class="ph"> </div>    
    </div>

    <% i = 0 %>
    <% while i < users.length%>
        <div class="contact_block">
            <div class="username">
                <p class="username"> <%= users[i][1]%></p>
            </div>
            <div class="phone">
                <p class="phone"> <%= users[i][3]%></p>
            </div>
            <form action="/remove-favorite" method="POST" class="add-button">
                <input type="hidden" name="favorite_id" value="<%=users[i][0]%>">
                <input type="submit" value="Remove from favorites">
            </form>
            <% i = i + 1%>
        </div>
    <% end %>

<% else %>
 <div class="contact_block">
 <h4> Choose favorites from all contacts </h4>
 </div>
<% end %>

<a href= "/contacts">See all contacts</a>
<a class="logout" href="/">Logout</a>