
<h1>Contacts</h1>

<% i = 0 %>
<% while i < users.length%>
    <div class="contact_block">
        <p class="username"> <%= users[i][1]%></p>
        <p class="phone"> <%= users[i][3]%></p>
        <% i = i + 1%>
    </div>
<% end %>