body {
    background-color: hotpink;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.contact_block {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.username {
    width: 300px;
}

.phone {
    width: 200px;
}

.add-button {
    width: 100px;
}

.phone-header {
    width: 200px;
}

.ph {
    width: 100px;
}